.env

# Compiler files
cache/
out/

# pycache
*__pycache__*

# Development broadcast logs
broadcast/

# Datafeed data
data/

# Local addresses change every time
addresses/local/

# .env
.env

# logs
cron_log.txt
feeding_log.txt
daily_report_log.txt
logs/
