[submodule "lib/zktls-enclave"]
	path = lib/zktls-enclave
	url = ../../Diffuse-fi/zktls-enclave.git
[submodule "lib/automata-dcap-zkvm-cli"]
	path = lib/automata-dcap-zkvm-cli
	url = ../../Diffuse-fi/automata-dcap-zkvm-cli.git
[submodule "lib/sgx_verifier_deployer"]
	path = lib/sgx_verifier_deployer
	url = ../../Diffuse-fi/sgx-verifier-deployer
